@using DNPAssigment1.Models
@using DNPAssigment1.Data
@inject IFamilyService FamilyService;
<h3>Child form</h3>
<form>
    <div class="form-group">
        <label>First Name</label>
        <input class="form-control" placeholder="First Name">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label>ID</label>
        <input class="form-control" placeholder="ID">
    </div>
    <div class="form-group">
        <label>Hair color</label>
        <select>
            @foreach (HairColor hairColor in (HairColor[]) Enum.GetValues(typeof(HairColor)))
            {
                <option>@hairColor</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Eye color</label>
        <select>
            @foreach (EyeColor eyeColor in (EyeColor[]) Enum.GetValues(typeof(EyeColor)))
            {
                <option>@eyeColor</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Age</label>
        <input class="form-control" placeholder="Age">
    </div>
    <div class="form-group">
        <label>Weight</label>
        <input class="form-control" placeholder="Weight">
    </div>
    <div class="form-group">
        <label>Height</label>
        <input class="form-control" placeholder="Height">
    </div>
    <div class="form-group">
        <label>Family</label>
        <select>
            @foreach (var family in Families)
            {
                <option>@family.Adults.First().LastName</option>
            }
        </select>
    </div>
</form>
<div>
    <label>Interests</label>
    <input @bind="interest"/>
    <button @onclick="AddInterest">Add interest</button>
    <ul>
        @foreach (var i in interensts)
        {
            <li>@i</li>
        }
    </ul>
</div>

<button class="btn btn-outline-dark btn-sm">Add Child</button>

@code{
    private IList<Family> Families;
    private List<string> interensts { get; set; } = new List<string>();
    private string interest { get; set; } = "";

    protected async override Task OnInitializedAsync()
    {
        Families = FamilyService.GetFamilies();
    }

    private void AddInterest()
    {
        if (!string.IsNullOrWhiteSpace(interest))
        {
            interensts.Add(interest);
            interest = string.Empty;
        }
    }

}